* {
  font-family: sans-serif;
}

body > div {
  padding: 0;
  margin: 0;
}

.contener {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* HEADER */

header {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 5px 14px;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 15px;
}

header ul li:nth-child(4) {
  background-color: #5f6368;
  color: #fff;
  padding: 5px;
  padding-left: 9px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
header ul li:nth-child(-n + 2) a {
  text-decoration: none;
  color: #5b5d5f;
  font-size: small;
}
header ul li:nth-child(-n + 2):hover a {
  text-decoration: underline;
}
header ul li:nth-child(3) {
  padding: 8px;
  border-radius: 50%;
}
header ul li:nth-child(3) img {
  opacity: 0.7;
}
header ul li:nth-child(3):hover {
  background-color: #eee;
}

/* MAIN CONTENT */

main {
  width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 205px;
}

main img {
  display: inline-block;
  width: 272px;
}

.searchBox {
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.searchBox input {
  border: 1px solid #ddd;
  padding: 9px 50px;
  border-radius: 30px;
  outline: none;
  width: 100%;
}

.searchBox input:hover {
  box-shadow: rgba(39, 38, 38, 0.1) 0px 4px 12px;
}
p{
  margin-top: 15px;
  font-size: small;
  padding-top: 18px;
}

.searchBox div img {
  display: inline-block;
  width: auto;
  user-select: none;
  position: absolute;
}

.searchBox div:nth-child(2) img {
  height: 16px;
  top: 14px;
  left: 18px;
}

.searchBox div:last-child img {
  height: 25px;
top: 9px;
right: 10px;
}

.buttons {
  margin-top: 20px;

}

main .buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  color: #454546;
  font-size: 12px;
  background-color: #f8f8f8;
}

main .buttons button:hover {
  border: 0.5px solid #e0e1e2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
}

main p {
  margin-top: 25px;
  color: #78797a;
}

/* FOOTER */
footer .country{
  padding: 15px 30px;
  font-size: 17px;
  color: #70757A;
  
  
  
}


footer {
  width: 100%;
  background: #f2f2f2;
  position: fixed;
  bottom: 0;
  
}

footer .row {

  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
 
  /* border-bottom: 1px solid rgba(0,0 , 0,0.5 ); */
}


footer .row.row2 {
  display: flex;
  justify-content: space-between;
  padding: 10px 13px;
 
 
}

footer .row.row2 ul {
  display: flex;
}

footer .row.row2 ul li a {
  text-decoration: none;
  color: #5f6368;
  margin-right: 25px;
  
}

footer .row.row2 ul li a:hover {
  text-decoration: underline;
}

footer .row.row2 ul:nth-child(2) li a {
  text-decoration: none;
  color: #5f6368;
  margin-right: 0px;
  margin-left: 25px;
}

footer .row.row2 ul:nth-child(2) li a:hover {
  text-decoration: underline;
}


@media screen and (min-width: 992px) {
  main .buttons button {
    font-size: 16px;
    padding: 10px 20px;
  }

  

 

}